<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container d-flex justify-content-between">
    <h1 class="fw-bold fs-5">WOWOROOM</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="w-auto collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="w-100 d-flex justify-content-end topBar-menu">
            <li><a href="#" class="btn-hover-primary px-7">後台管理</a></li>
            <li><a href="#" class="btn-hover-primary px-7">管理員登入</a></li>
        </ul>
      </div>
    </div>
  </nav>